<h1>Crypto Currencies:</h1>

<label>Crypto:</label><br>
<%=@currency.crypto%><br><br>

<label>Symbol:</label><br>
<%=@currency.symbol%><br><br>

<label>Price:</label><br>
<%='$'%><%=@currency.price%><br><br>


