<h1>Your Transaction</h1>

<label>Amount:</label><br>
<%=@user_currencies.amount%><br><br>

<label>Crypto:</label><br>
<%=@user.age%><br><br>

<label>Price:</label><br>
<%='$'%><%=@user.balance%><br>


<%# A USER SHOULD NOT BE ABLE TO EDIT OR DELETE A TRANSCATION !!!! %>